@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.main .content {
  width: 1024px;
  height: 100%;
  position: relative;
}
.main .content .profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  margin-top: 60px;
}
.main .content .profile .img {
  width: 100;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
}
.main .content .profile .img .img_avatar {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  border: 1px solid #e9b875;
  background-image: url("../img/profile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main .content .profile .info_name {
  width: 100%;
  height: 100%;
  flex: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.main .content .profile .info_name .titlename {
  flex: 1;
  height: 100%;
  width: 100%;
  margin-bottom: 5px;
}
.main .content .profile .info_name .titlename h1 {
  font-family: "Rowdies", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  word-spacing: -3px;
}
.main .content .profile .info_name .line {
  flex: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.main .content .profile .info_name .line .liner {
  width: 110px;
  height: 7px;
  background-color: #e9b875;
  border-radius: 10px;
}
.main .content .profile .info_name .nav {
  margin-top: 10px;
  flex: 1;
  height: 100%;
  width: 100%;
}
.main .content .profile .info_name .nav a {
  margin-right: 20px;
  font-size: 20px;
  font-weight: 400;
}
.main .content .profile .info_name .nav a:hover {
  color: #e9b875;
  text-decoration: underline;
  cursor: pointer;
}
.main .content .profile .info_name .nav a:first-child {
  margin-left: 5px;
}
.main .content .profile .info_name .nav .active_a {
  margin-right: 20px;
  font-size: 20px;
  font-weight: 400;
  color: #e9b875;
  text-decoration: underline;
  cursor: pointer;
  transition: 0.4s;
}
.main .content .profile .info_name .nav .active_a:first-child {
  margin-left: 5px;
}
.main .content .profile .info_name .nav .non_active_a {
  margin-right: 20px;
  font-size: 20px;
  font-weight: 400;
  transition: 0.4s;
}
.main .content .profile .info_name .nav .non_active_a:hover {
  color: #e9b875;
  text-decoration: underline;
  cursor: pointer;
}
.main .content .profile .info_name .nav .non_active_a:first-child {
  margin-left: 5px;
}
.main .content .mysumm {
  margin-top: 105px;
  width: 100%;
  padding: 25px;
  border: 2px dashed #e9b875;
  border-radius: 10px;
  text-align: center;
  position: relative;
}
.main .content .mysumm::after {
  content: " ";
  clear: both;
  background-image: url("../img/sides.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 70px;
  height: 70px;
  position: absolute;
  top: -5px;
  left: -5px;
}
.main .content .mysumm::before {
  content: " ";
  clear: both;
  background-image: url("../img/sides.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 70px;
  height: 70px;
  position: absolute;
  transform: rotate(180deg);
  bottom: -6px;
  right: -5px;
}
.main .content .mysumm h1 {
  font-family: "Rowdies", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
  margin-bottom: 20px;
}
.main .content .mysumm p {
  margin-bottom: 20px;
  font-size: 20px;
  text-align: justify;
}
.main .content .mysumm .btn_contact {
  width: 100%;
  margin-top: 35px;
}
.main .content .mysumm .btn_contact span {
  padding: 8px 35px;
  background-color: #e9b875;
  color: #1c232b;
  font-size: 20px;
  border-radius: 10px;
  font-weight: bold;
  font-family: "Rowdies", sans-serif;
  font-weight: 400;
  font-style: normal;
  cursor: pointer;
}
.main .content .about_harold {
  margin-top: 105px;
  width: 100%;
  padding: 25px;
  border-radius: 10px;
  text-align: center;
  position: relative;
}
.main .content .about_harold .about_heaeder {
  width: 100%;
  line-height: 30px;
}
.main .content .about_harold .about_heaeder h1 {
  font-family: "Rowdies", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 35px;
  margin-bottom: 20px;
  text-align: left;
  margin: 0;
  padding: 0;
}
.main .content .about_harold .about_heaeder p {
  font-family: "Rowdies", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 20px;
  font-size: 20px;
  text-align: justify;
  margin: 0;
  padding: 0;
  color: rgba(248, 248, 255, 0.411);
}
.main .content .about_harold .about_content {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row;
  gap: 20px;
}
.main .content .about_harold .about_content .sideabout p {
  margin-bottom: 15px;
  text-align: justify;
}
.main .content .about_harold .about_content .sideabout .btn_contact {
  width: 100%;
  margin-top: 35px;
}
.main .content .about_harold .about_content .sideabout .btn_contact span {
  padding: 8px 35px;
  background-color: #e9b875;
  color: #1c232b;
  font-size: 20px;
  border-radius: 10px;
  font-weight: bold;
  font-family: "Rowdies", sans-serif;
  font-weight: 400;
  font-style: normal;
  cursor: pointer;
}
.main .content .about_harold .about_content .sideabout h3 {
  font-family: "Rowdies", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: left;
  margin: 0;
  padding: 0;
}
.main .content .about_harold .about_content .sideabout:nth-child(1) {
  flex: 1;
  text-align: left;
}
.main .content .about_harold .about_content .sideabout:nth-child(2) {
  flex: 0.75;
  padding: 20px;
}
.main .content .about_harold .about_content .sideabout:nth-child(2) hr {
  color: #e9b875;
  border: #e9b875 dashed 1px;
}
.main .content .about_harold .about_content .sideabout:nth-child(2) .medialinks {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row;
  flex-wrap: wrap;
  gap: 20px;
}
.main .content .about_harold .about_content .sideabout:nth-child(2) .medialinks a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  transition: 0.4s;
}
.main .content .about_harold .about_content .sideabout:nth-child(2) .medialinks a:hover {
  color: #e9b875;
}
.main .content .about_harold .about_content .sideabout:nth-child(2) .mycontacts {
  margin-top: 20px;
}
.main .content .about_harold .about_content .sideabout:nth-child(2) .mycontacts a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row;
  margin-bottom: 10px;
  transition: 0.4s;
}
.main .content .about_harold .about_content .sideabout:nth-child(2) .mycontacts a:hover {
  color: #e9b875;
}
.main .content .notification {
  position: relative;
  top: 100px;
  left: 0;
  padding: 30px;
  margin-bottom: 20px;
  font-size: x-large;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  border-top: #e9b875 1px dotted;
  border-bottom: #e9b875 1px dotted;
  font-family: "Rowdies", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 1036px) {
  .main .content {
    width: 100%;
    padding: 20px;
  }
}
@media (max-width: 962px) {
  .main .content {
    width: 100%;
    padding: 20px;
  }
  .main .content .profile .img {
    margin-right: 20px;
    justify-content: flex-end;
  }
  .main .content .profile .info_name {
    flex: 3;
  }
}
@media (max-width: 640px) {
  .main {
    height: 100%;
  }
}
@media (max-width: 557px) {
  .main .content {
    width: 100%;
    padding: 20px;
  }
  .main .content .profile .img {
    margin-right: 20px;
    justify-content: flex-end;
  }
  .main .content .profile .info_name .nav {
    display: none;
  }
}
@media (max-width: 486px) {
  .main .content {
    width: 100%;
    padding: 20px;
  }
  .main .content .profile .img .img_avatar {
    height: 130px;
    width: 130px;
  }
}
@media (max-width: 484px) {
  .main .content {
    width: 100%;
    padding: 20px;
  }
  .main .content .profile .img .img_avatar {
    height: 110px;
    width: 110px;
  }
  .main .content .profile .info_name .titlename h1 {
    font-size: 25px;
  }
}
@media (max-width: 425px) {
  .main .content {
    width: 100%;
    padding: 20px;
  }
  .main .content .profile .img .img_avatar {
    height: 110px;
    width: 110px;
  }
  .main .content .profile .info_name .nav {
    display: none;
  }
  .main .content .mysumm h1 {
    font-size: 25px;
  }
  .main .content .mysumm p {
    font-size: 15px;
  }
}
@media (max-width: 395px) {
  .main .content {
    width: 100%;
    padding: 20px;
  }
  .main .content .profile .img .img_avatar {
    height: 110px;
    width: 110px;
  }
  .main .content .profile .info_name .nav {
    display: none;
  }
  .main .content .mysumm h1 {
    font-size: 25px;
  }
  .main .content .mysumm p {
    font-size: 15px;
  }
}
@media (max-width: 351px) {
  .main .content {
    width: 100%;
    padding: 20px;
  }
  .main .content .profile .img .img_avatar {
    height: 100px;
    width: 100px;
  }
  .main .content .profile .info_name .titlename h1 {
    font-size: 25px;
  }
  .main .content .profile .info_name .nav {
    display: none;
  }
  .main .content .mysumm h1 {
    font-size: 25px;
  }
  .main .content .mysumm p {
    font-size: 15px;
  }
}
@media (max-width: 318px) {
  .main {
    display: none;
  }
  body {
    color: ghostwhite;
    content: "Harold Abeme Guzman";
    clear: both;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 999;
  }
}
@media (max-width: 900px) {
  .main .content #displayer .about_harold .about_content {
    margin-top: 20px;
    flex-flow: column;
  }
  .main .content #displayer .about_harold .about_content .sideabout:nth-child(2) {
    margin-top: 55px;
    padding: 0;
  }
}/*# sourceMappingURL=apps.css.map */