@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');
@mixin rowdies_light(){
    font-family: "Rowdies", sans-serif;
    font-weight: 300;
    font-style: normal;
}
@mixin rowdies_regular(){
    font-family: "Rowdies", sans-serif;
    font-weight: 400;
    font-style: normal;
}
@mixin rowdies_bold(){
    font-family: "Rowdies", sans-serif;
    font-weight: 700;
    font-style: normal;
}
 
 
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}



.main{

    height:100vh;
    width:100%;
    // overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;


    @mixin flex_displayrow(){
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row;
    }



    .content{
        width: 1024px;
        // border: 1px solid rgba(248, 248, 255, 0.116);
        height:100%;
        position: relative;

   

        .profile{
            @include flex_displayrow();
            margin-top:60px;

            // border: 1px solid ghostwhite;
            
            .img{
                width:100;
                flex: 1;
                @include flex_displayrow();

                .img_avatar{
                    height:140px;
                    width:140px;
                    border-radius:50%;
                    border: 1px solid #e9b875;

                    background-image: url('../img/profile.jpg');
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }

            .info_name{
                // border: 1px solid red;
                width:100%;
                height:100%;
                flex: 4;

                display: flex;
                justify-content: center;
                align-items: center;
                flex-flow: column;



                .titlename{
                    flex: 1;
                    height:100%;
                    width:100%;
                    margin-bottom:5px;

                    h1{
                        @include rowdies_regular();
                        font-size: 40px;
                        word-spacing: -3px;
                    }
                }

                .line{
                    flex: 0;
                    width:100%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    .liner{
                        width:110px;
                        height:7px;
                        background-color: #e9b875;
                        border-radius:10px;
                    }
                }

                .nav{
                    margin-top:10px;
                    flex: 1;
                    height:100%;
                    width:100%;

                    a{
                        margin-right:20px;
                        font-size: 20px;
                        font-weight: 400;
                        
                        &:hover{
                            color: #e9b875;
                            text-decoration: underline;
                            cursor: pointer;
                        }

                        &:first-child{
                            margin-left: 5px;
                        }
                    }

                    .active_a{
                        margin-right:20px;
                        font-size: 20px;
                        font-weight: 400;
                        color: #e9b875;
                        text-decoration: underline;
                        cursor: pointer;
                        transition: .4s;

                        &:first-child{
                            margin-left: 5px;
                        }
                        
                    }

                    .non_active_a{
                        margin-right:20px;
                        font-size: 20px;
                        font-weight: 400;
                        transition: .4s;
                        
                        &:hover{
                            color: #e9b875;
                            text-decoration: underline;
                            cursor: pointer;
                        }

                        &:first-child{
                            margin-left: 5px;
                        }
                    }
                    // border: 1px solid yellow;
                }


            }

        }



        .mysumm{
            margin-top:105px;
            width:100%;
            padding:25px;
            border: 2px dashed #e9b875;
            border-radius:10px;
            text-align: center;
            position: relative;


            &::after{
                content:" ";
                clear: both;
                background-image: url('../img/sides.png');
                background-repeat: no-repeat;
                background-size: cover;
                width:70px;
                height:70px;
                position: absolute;
                top:-5px;
                left:-5px;
            }

            &::before{
                content:" ";
                clear: both;
                background-image: url('../img/sides.png');
                background-repeat: no-repeat;
                background-size: cover;
                width:70px;
                height:70px;
                position: absolute;
                transform: rotate(180deg);
                bottom:-6px;
                right:-5px;
            }

            h1{
                @include rowdies_regular();
                font-size: 35px;
                margin-bottom:20px;
                
            }

            p{
                margin-bottom: 20px;
                font-size: 20px;
                text-align: justify;
            }

            .btn_contact{
                width:100%;
                margin-top:35px;

                span{
                    padding:8px 35px;
                    background-color: #e9b875;
                    color: #1c232b;
                    font-size: 20px;
                    border-radius: 10px;
                    font-weight: bold;
                    @include rowdies_regular();
                    cursor: pointer;
                }
                
            }
        }



        .about_harold{
            margin-top:105px;
            width:100%;
            padding:25px;
            // border: 2px dashed #e9b875;
            border-radius:10px;
            text-align: center;
            position: relative;

            
            .about_heaeder{
                width:100%;
                line-height: 30px;
                h1{
                    @include rowdies_bold();
                    font-size: 35px;
                    margin-bottom:20px;
                    text-align: left;
                    margin:0;
                    padding:0;
                }
                p{
                    @include rowdies_regular();
                    margin-bottom: 20px;
                    font-size: 20px;
                    text-align: justify;
                    margin:0;
                    padding:0;
                    color:rgba(248, 248, 255, 0.411) ;
                }
            }
            .about_content{
                margin-top:20px;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-flow: row;
                gap:20px;

                .sideabout{

                    p{
                        margin-bottom:15px;
                        text-align: justify;
                    }

                    .btn_contact{
                        width:100%;
                        margin-top:35px;
        
                        span{
                            padding:8px 35px;
                            background-color: #e9b875;
                            color: #1c232b;
                            font-size: 20px;
                            border-radius: 10px;
                            font-weight: bold;
                            @include rowdies_regular();
                            cursor: pointer;
                        }
                    }


                    h3{
                        @include rowdies_bold();
                        text-align: left;
                        margin:0;
                        padding:0;
                    }
                }
    
                .sideabout:nth-child(1){
                    flex: 1;
                    text-align: left;
                }
                .sideabout:nth-child(2){
                    flex: .75;
                    padding:20px;
                    // border:1px solid #e9b875;

                    hr{
                        color: #e9b875;
                        border: #e9b875 dashed 1px;
                    }

                    .medialinks{
                        margin-top:20px;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        flex-flow: row;
                        flex-wrap: wrap;
                        gap:20px;

                        a{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-flow: row;

                            transition:.4s;

                            &:hover{
                                color: #e9b875;
                            }
                        }

                    }

                    .mycontacts{
                        margin-top:20px;
                        
                        a{
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            flex-flow: row;
                            margin-bottom:10px;

                            transition:.4s;

                            &:hover{
                                color: #e9b875;
                            }
                        }
                    }
                }
            }




        }


        .notification{
            position: relative;
            top:120px;
            left:0;
            padding:30px;
        }
    }


}






@media(max-width:1036px){
    .main{
        .content{
            width: 100%;
            padding:20px;
        }
    }
}




@media(max-width:962px){
    .main{
        .content{
            width: 100%;
            padding:20px;

            .profile{
                .img{
                    margin-right:20px;
                    justify-content: flex-end;
                }    
                .info_name{
                    flex: 3;
                }
            }

        }
    }
}



@media(max-width:640px){
    .main{
        height:100%;
    }
}


@media(max-width:557px){
    .main{
        .content{
            width: 100%;
            padding:20px;

            .profile{
                .img{
                    margin-right:20px;
                    justify-content: flex-end;
                }    
                .info_name{
                    .titlename{
                        h1{
                            // font-size: 30px;
                        }
                    }

                    .nav{
                        display: none;
                        a{
                            // font-size: 15px;
                        }
                    }
                }
            }

        }
    }
}





@media(max-width:486px){
    .main{
        .content{
            width: 100%;
            padding:20px;

            .profile{
                .img{
                    .img_avatar{
                        height:130px;
                        width:130px;
                    }
                }    
                .info_name{
                    .titlename{
                        h1{
                            // font-size: 30px;
                        }
                    }

                    .nav{
                        a{
                            // font-size: 15px;
                        }
                    }
                }
            }

        }
    }
}



@media(max-width:484px){
    .main{
        .content{
            width: 100%;
            padding:20px;

            .profile{
                .img{
                    .img_avatar{
                        height:110px;
                        width:110px;
                    }
                }    
                .info_name{
                    .titlename{
                        h1{
                            font-size: 25px;
                        }
                    }

                    .nav{
                        a{
                            // font-size: 15px;
                        }
                    }
                }
            }

        }
    }
}


@media(max-width:425px){
    .main{
        .content{
            width: 100%;
            padding:20px;

            .profile{
                .img{
                    .img_avatar{
                        height:110px;
                        width:110px;
                    }
                }    
                .info_name{
                    .titlename{
                        h1{
                            // font-size: 25px;
                        }
                    }

                    .nav{
                        display: none;
                        a{
                            // font-size: 15px;
                        }
                    }
                }
            }



            .mysumm{
                h1{
                    font-size: 25px;
                }

                p{
                    font-size: 15px;
                }
            }

        }
    }
}


//395
@media(max-width:395px){
    .main{
        .content{
            width: 100%;
            padding:20px;

            .profile{
                .img{
                    .img_avatar{
                        height:110px;
                        width:110px;
                    }
                }    
                .info_name{
                    .titlename{
                        h1{
                            // font-size: 20px;
                        }
                    }

                    .nav{
                        display: none;
                        a{
                            // font-size: 15px;
                        }
                    }
                }
            }



            .mysumm{
                h1{
                    font-size: 25px;
                }

                p{
                    font-size: 15px;
                }
            }

        }
    }
}



@media(max-width:351px){
    .main{
        .content{
            width: 100%;
            padding:20px;

            .profile{
                .img{
                    .img_avatar{
                        height:100px;
                        width:100px;
                    }
                }    
                .info_name{
                    .titlename{
                        h1{
                            font-size: 25px;
                        }
                    }

                    .nav{
                        display: none;
                        a{
                            // font-size: 15px;
                        }
                    }
                }
            }



            .mysumm{
                h1{
                    font-size: 25px;
                }

                p{
                    font-size: 15px;
                }
            }

        }
    }
}




@media(max-width:318px){
    .main{
        display:none;
    }

    body{
        color:ghostwhite;
        content: 'Harold Abeme Guzman';
        clear: both;
        display: flex;
        justify-content: center;
        align-items: center;
        height:100%;
        width: 100%;
        z-index:999;
    }
}






@media(max-width:900px){
    .main{

        .content{
            #displayer{
                .about_harold{
                    
                    .about_content{
                        margin-top:20px;
                        flex-flow: column;

                        .sideabout:nth-child(2){
                            margin-top:55px;
                            padding:0;
                        }
                    }
                }
            }
        }
    }

}